<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_Sirv>
            <version>1.0.0</version>
        </MagicToolbox_Sirv>
    </modules>
    <global>
        <models>
            <sirv>
                <class>MagicToolbox_Sirv_Model</class>
                <resourceModel>sirv_mysql4</resourceModel>
            </sirv>
            <sirv_mysql4>
                <class>MagicToolbox_Sirv_Model_Mysql4</class>
                <entities>
                    <cache>
                        <table>sirv_cache</table>
                    </cache>
                </entities>
            </sirv_mysql4>
            <catalog>
                <rewrite>
                    <category>MagicToolbox_Sirv_Model_Category</category>
                    <product_image>MagicToolbox_Sirv_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <sirv_setup>
                <setup>
                    <module>MagicToolbox_Sirv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sirv_setup>
            <sirv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sirv_write>
            <sirv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sirv_read>
        </resources>
        <helpers>
            <sirv>
                <class>MagicToolbox_Sirv_Helper</class>
            </sirv>
            <catalog>
                <rewrite>
                    <image>MagicToolbox_Sirv_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <events>
            <admin_system_config_changed_section_sirv>
                <observers>
                    <sirv>
                        <type>singleton</type>
                        <class>sirv/observer</class>
                        <method>onConfigChange</method>
                    </sirv>
                </observers>
            </admin_system_config_changed_section_sirv>
        </events>
    </global>
    <crontab>
        <jobs>
            <sirv>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run>
                    <model>sirv/observer::cleanCache</model>
                </run>
            </sirv>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sirv translate="title">
                                            <title>Sirv for Magento</title>
                                            <sort_order>100</sort_order>
                                        </sirv>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sirv>
            <general>
                <enabled>0</enabled>
                <sirv_image_processing>1</sirv_image_processing>
                <image_folder>magento</image_folder>
                <cache_storage>1</cache_storage>
                <cache_ttl>1440</cache_ttl>
            </general>
        </sirv>
    </default>
</config>
